
*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  background:  #17181F;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #9ecaed;
  }
}

@media only screen and (min-width: 1224px) {
  .profile-card{
    width: 90vw;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #9ecaed;
  }
}



.card-header{
  background: #2d2f40;
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #94664B, #E5CBB9);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{width
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name{
  color: #EEEDF0 ;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #ffbcd9;
}

.location {
  margin: 10px 0;
  color: #6C72CB ;
}

.icons{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.icons a{
  /* color: #e43939; */
  width: 80px;
  font-size: 40px;
  transition: .3s linear;
}

.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.fa-spotify{
  color: #1db954;
}

.fa-youtube{
  color: #FF0000;
}

.fa-vk{
  color: #4C75A3;
}

.fa-apple{
  color: #000000;
}

.icons a:hover{
  transform: scale(1.1);
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #ffbcd9;
  border: 2px solid #6C72CB;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background:#6C72CB;
  color: #f2f2f2;
}



.card-footer{
  background: #EEEDF0;
  padding: 60px 10px;
}

.instagram-account{
  margin-top: 50px;
  font-size: 15px;
}