body {
    font-family: Arial, sans-serif;
    background-color: #F0F1F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

header {
    margin: 20px;
    width: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */
.card {
    background: #F0F1F5;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card>.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.profile span {
    padding: 15px;
}

h2 {
    margin: 5px 0;
    font-size: 20px;
}

p {
    color: gray;
    margin: 5px 0;
    font-size: 14px;
}

h1 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}



/* Content */
.container {
    display: flex;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.now-playng img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.contributors {
    display: flex;
}
.contributors>.card {
    margin: 2px;
}

h3 {
    margin: 5px 0;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 14px;
    color: gray;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.controls i {
    font-size: 20px;
    cursor: pointer;
}

.weather i {
    font-size: 40px;
    color: gray;
}

.battery small {
    color: gray;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 400px;
    }

    .left, .right {
        width: 100%;
    }
}



/* Footer */
.links {
    display: flex;
    gap: 20px;
    padding: 10px;
    background: #F0F1F5;
    border-radius: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon i {
    font-size: 20px;
    color: #333;
}

.icon:hover {
    transform: scale(1.1);
}

